.menu:hover .menu-item {
    display: block;
}

.menu:hover button {
    color: #2463eb;
    background-color: #fff;
}

.mobile-menu:hover .mobile-menu-item {
    display: block;
}

.mobile-menu:hover .chevron-down {
    display: none;
}

.mobile-menu:hover .chevron-up {
    display: block;
}

.mobile-menu:hover button {
    color: #2463eb;
    background-color: #fff;
}

.grid-h-scroll {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px, 1fr);
}
